/* MODALES */
.modal {
    display: none;
    position: fixed;
    z-index: 1050; /* z-index mayor para superponer otros elementos */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    padding-top: 60px;
}

.modal-content {
    background-color: #fefefe;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 500px; /* Ancho máximo para dispositivos móviles */
}

.close-btn {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close-btn:hover,
.close-btn:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* HEADER BOTTOM Y NAVBAR */
.header-bottom {
    background-color: #f26522;
}

.header-bottom .nav-link {
    color: white !important;
}

.header-bottom .nav-link:hover {
    background-color: rgba(255, 255, 255, 0.15);
}

.header-bottom .navbar-nav .nav-item {
    margin-right: 1rem;
}

.social-icons a {
    font-size: 1.5rem;
    color: #ffffff;
    margin-right: 1rem;
    transition: color 0.3s ease;
}

.social-icons a:hover {
    color: #ffffff;
}

.navbar-nav {
    margin-bottom: 0;
}

.navbar-nav .nav-item {
    margin-right: 1rem;
}

/* GRID RESTAURANTES */
.grid-container {
    width: 90%;           /* Se adapta al ancho de la pantalla */
    margin: 0 auto;       /* Centrado horizontal */
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); /* Columnas responsive */
    gap: 20px;            /* Espacio entre elementos */
    justify-items: center;
}

.restaurante:hover > .informacionRestaurante a {
    text-decoration: underline;
    text-decoration-thickness: 1px;
}

.restaurante:hover img {
    transform: scale(1.1);
    transition: transform 0.3s ease;
}

.restaurante {
    width: 100%;
    padding: 1vh;
    margin: 1vh;
    text-align: left;
}

.imagenesRestaurante {
    width: 100%;
    height: 200px;
    overflow: hidden;
}

.restaurante img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.tipocomidaRestaurante {
    color: #718fa1;
    text-transform: uppercase;
}

.informacionRestaurante {
    margin: 1vh 0;
    padding: 10px;
    border: 1px solid #d2d2d2;
}

.informacionRestaurante a {
    max-width: 75%;
    text-decoration: none;
    color: inherit;
}

.informacionRestaurante h3 {
    padding: 0 1vh;
    margin: 0;
    font-size: 2.5vh;
}

.informacionRestaurante p {
    max-width: 80%;
    padding: 0 1vh;
    margin: 0;
    font-size: 1.5vh;
}

.cuboinfoRestaurante {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1vh 0;
}

.numerosRestaurantes {
    font-size: 1.8vh !important;
}

/* MEDIA QUERIES */
@media (max-width: 768px) {
    .social-icons {
        margin-top: 10px;
        justify-content: center;
    }
    .grid-container {
        width: 95%;
    }
    .imagenesRestaurante {
        height: 150px;
    }
    .restaurante img {
        height: 150px;
    }
}

.error-message {
    color: red;
}
